@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  --fullDark: #1a1919;
  --lightDark: #393636;
}

body {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  color: antiquewhite;
}
h1,
h2 {
  font-family: "TheRumIsGone", sans-serif;
}
a {
  text-decoration: none;
  color: antiquewhite;
}

Link {
  text-decoration: none;
}
