@font-face {
  font-family: "TheRumIsGone";
  src: url("/TheRumIsGone-Wy1nG.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-size: cover;
  height: 100vh;
}

/* .menucomponents {
  display: none;
} */

li {
  list-style-type: none;
}

.BackgroundHome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30rem;
}
