@font-face {
  font-family: "TheRumIsGone";
  src: url("/TheRumIsGone-Wy1nG.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-size: cover;
}

/* .menucomponents {
  display: none;
} */

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  border: solid;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  font-family: "TheRumIsGone", sans-serif;
}

.link-board {
  background-color: rgba(255, 255, 255, 0.373);
}

.BackgroundHome {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30rem;
}
