.miniShipCard {
  display: flex;
  width: 10rem;
  margin: 1rem auto;
  border-radius: 10px;

  img {
    display: block;
    width: 10rem;
    margin: 0.5rem auto;
    border-radius: 80px;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.8rem;
    font-style: italic;
    font-family: "Inknut Antiqua", serif;
  }
}
.shipCard a {
  line-height: 1.8rem;
  text-align: center;
  margin: 1rem auto;
  border-style: none;
}

@media screen and (min-width: 768px) {
  .shipCard {
    width: 35vw;
  }
}
