body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: Arial, sans-serif;
}
.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;

  padding: 20px;
  border-radius: 10px;

  margin-left: 9rem;
  margin-top: 5rem;
}

.elfsight-app-a7a09335-1dfb-4d76-ae45-d79db2151f34 {
  width: 100%;
  margin-left: 40rem;
}
